# Server Port (used for local testing)
PORT=5000

# MongoDB Atlas Connection URI
# Replace with your MongoDB cluster connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/portfolio_analytics?retryWrites=true&w=majority
